<div class="center-page">
  <div class="crop-card">
    <span class="close-btn" onclick="window.location='/'">✖</span>
    
    <h2>🌾 Recommended Crop</h2>

<p><strong>Season:</strong> <%= season %></p>
<p><strong>Soil Type:</strong> <%= soilType %></p>
<p><strong>Water Level:</strong> <%= waterLevel %></p>
<p><strong>Temperature:</strong> <%= temperature %></p>
<p><strong>Location:</strong> <%= locationType %></p>
<p><strong>Land Size:</strong> <%= landSize %></p>

<hr>

<h3 class="result-title">
  ✅ Best Crop for You:
  <span class="highlight-crop"><%= recommendedCrop %></span>
</h3>

<a href="/disease" id="tryagain">Try Again</a>
<a href="/crop" id="tryagain">Crop Recommendation</a>


  </div>
</div>